appnope==0.1.3; platform_system == "Darwin" and python_version >= "3.8" and sys_platform == "darwin"
astropy==5.1; python_version >= "3.8"
asttokens==2.0.8; python_version >= "3.8"
backcall==0.2.0; python_version >= "3.8"
black==22.6.0; python_full_version >= "3.6.2"
casa-formats-io==0.1; python_version >= "3.7"
cffi==1.15.1; implementation_name == "pypy" and python_version >= "3.7"
click==8.1.3; python_version >= "3.7" and python_full_version >= "3.6.2"
cloudpickle==2.1.0; python_version >= "3.8"
colorama==0.4.5; sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.6.2" and platform_system == "Windows" and (python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.5.0")
cramjam==2.5.0; python_version >= "3.7"
cycler==0.11.0; python_version >= "3.7"
dask==2022.8.0; python_version >= "3.8"
debugpy==1.6.3; python_version >= "3.7"
decorator==5.1.1; python_version >= "3.8"
dicom2nifti==2.4.2
dill==0.3.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.7"
echo==0.6; python_version >= "3.7"
entrypoints==0.4; python_version >= "3.7"
et-xmlfile==1.1.0; python_version >= "3.7"
executing==0.10.0; python_version >= "3.8"
fast-histogram==0.11; python_version >= "3.7"
fastparquet==0.8.1; python_version >= "3.7"
fonttools==4.35.0; python_version >= "3.7"
freetype-py==2.3.0; python_version >= "3.7"
fsspec==2022.7.1; python_version >= "3.8"
glue-core==1.5.0; python_version >= "3.7"
glue-plotly==0.3; python_version >= "3.6"
glue-vispy-viewers==1.0.5; python_version >= "3.6"
glueviz==1.2.0
h5py==3.7.0; python_version >= "3.7"
hsluv==5.0.3; python_version >= "3.6"
ipykernel==6.15.1; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==8.4.0; python_version >= "3.8"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
jedi==0.18.1; python_version >= "3.8"
joblib==1.1.0; python_version >= "3.7"
jupyter-client==7.3.4; python_version >= "3.7"
jupyter-core==4.11.1; python_version >= "3.7"
kiwisolver==1.4.4; python_version >= "3.7"
locket==1.0.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
loguru==0.6.0; python_version >= "3.5"
matplotlib-inline==0.1.6; python_version >= "3.8"
matplotlib==3.5.3; python_version >= "3.7"
mpl-scatter-density==0.7; python_version >= "3.7"
mypy-extensions==0.4.3; python_full_version >= "3.6.2"
nest-asyncio==1.5.5; python_version >= "3.7"
nibabel==4.0.1; python_version >= "3.7"
numpy==1.23.1
openpyxl==3.0.10; python_version >= "3.6"
packaging==21.3; python_version >= "3.8"
pandas==1.4.3; python_version >= "3.8"
parso==0.8.3; python_version >= "3.8"
partd==1.3.0; python_version >= "3.8"
pathspec==0.9.0; python_full_version >= "3.6.2"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.8"
pickleshare==0.7.5; python_version >= "3.8"
pillow==9.2.0; python_version >= "3.7"
platformdirs==2.5.2; python_version >= "3.7" and python_full_version >= "3.6.2"
plotly==5.10.0; python_version >= "3.6"
prompt-toolkit==3.0.30; python_full_version >= "3.6.2" and python_version >= "3.8"
psutil==5.9.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.8"
pure-eval==0.2.2; python_version >= "3.8"
pvextractor==0.3; python_version >= "3.7"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.7" and python_full_version >= "3.5.0"
pyarrow==9.0.0; python_version >= "3.7"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.7" and python_full_version >= "3.4.0"
pydicom==2.3.0; python_full_version >= "3.6.1"
pyerfa==2.0.0.1; python_version >= "3.8"
pygments==2.13.0; python_version >= "3.8"
pyopengl==3.1.6; python_version >= "3.6"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
pyqt5-qt5==5.15.2; python_version >= "3.7"
pyqt5-sip==12.11.0; python_version >= "3.7"
pyqt5==5.15.7; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
python-gdcm==3.0.14; python_version >= "3.6"
pytz==2022.1; python_version >= "3.8"
pywin32==304; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.7"
pyyaml==6.0; python_version >= "3.8"
pyzmq==23.2.1; python_version >= "3.7"
qtconsole==5.3.1; python_version >= "3.7"
qtpy==2.2.0; python_version >= "3.7"
radio-beam==0.3.3; python_version >= "3.7"
scipy==1.9.0; python_version >= "3.8" and python_version < "3.12"
seaborn==0.11.2; python_version >= "3.6"
setuptools-scm==6.4.2; python_version >= "3.7"
simpleitk==2.0.2
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
spectral-cube==0.6.0; python_version >= "3.7"
specviz==0.8; python_version >= "3.6"
stack-data==0.4.0; python_version >= "3.8"
tenacity==8.0.1; python_version >= "3.6"
tomli==2.0.1; python_full_version < "3.11.0a7" and python_full_version >= "3.6.2" and python_version >= "3.7"
toolz==0.12.0; python_version >= "3.8"
tornado==6.2; python_version >= "3.7"
traitlets==5.3.0; python_version >= "3.8"
typing-extensions==4.3.0; python_version < "3.10" and python_full_version >= "3.6.2" and python_version >= "3.7"
vispy==0.11.0; python_version >= "3.6"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.8"
win32-setctime==1.1.0; sys_platform == "win32" and python_version >= "3.5"
xlrd==1.2.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
